
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-large-11-Q6Z {
  width: 100%;
  height: 80rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;

  .prathmesh-kale-YCm {
    font-family: Nova Cut, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 38.1rem;
    color: #ffffff;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.2075;
    width: 20.2rem;
    height: 2.8rem;
    left: 10.6rem;
  }
  .auto-group-5ubb-39X {
    width: 18.6rem;
    height: 2.8rem;
    position: absolute;
    left: 10.8rem;
    top: 41.8rem;
    display: flex;
    align-items: center;

    .logo-whatsapp-png-pic-0-1-Yc5 {
      margin-right: 1.3rem;
      width: 2rem;
      height: 2.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item-7666280058-e9K {
      font-size: 2.3rem;
      font-weight: 400;
      line-height: 1.2075;
      color: #ffffff;
      font-family: Nova Cut, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .prathemesh-1-MpR {
    width: 17.9rem;
    height: 33.6rem;
    left: 5.1rem;
    top: 16.9rem;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 2.1rem 5.7rem;
    position: absolute;
    align-items: flex-end;
    box-sizing: border-box;

    .prathemesh-4-s25 {
      margin-bottom: 9.8rem;
      width: 14.1rem;
      height: 19.1rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.4rem;
      flex-shrink: 0;
    }
    .auto-group-slwp-Q21 {
      width: 100%;
      height: 2.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-qtcd-9kH {
        font-size: 1.2rem;
        text-decoration-line: underline;
        width: 2.5rem;
        line-height: 1.6;
        color: #2682ef;
        font-family: Noto Serif Thai, 'Source Sans Pro';
        background-size: 100% 100%;
        margin-right: 0.8rem;
        height: 100%;
        font-weight: 400;
        background-position: center;
        background-image: url('REPLACE_IMAGE:46df0aafcca91c3dd3648ed90e40e22b6401146f');
        padding: 0.2rem 0.2rem 0.4rem 0.2rem;
        white-space: nowrap;
        background-repeat: no-repeat;
        flex-shrink: 0;
        box-sizing: border-box;
      }
      .prathmesh-kale-PPj {
        line-height: 1.2075;
        text-decoration-line: underline;
        font-family: Nova Cut, 'Source Sans Pro';
        margin-bottom: 0.1rem;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.7rem;
        color: #ffffff;
      }
    }
  }
  .devloped-by-rutik-JFo {
    line-height: 1.4;
    text-decoration-line: underline;
    font-family: Sarpanch, 'Source Sans Pro';
    width: 11.9rem;
    height: 1.7rem;
    position: absolute;
    left: 22.3rem;
    top: 77.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
  }
  .auto-group-npmw-91X {
    align-items: center;
    width: 33rem;
    height: 4.9rem;
    position: absolute;
    left: 1.4rem;
    top: 0.4rem;
    display: flex;

    .whitelogo-3-rwX {
      flex-shrink: 0;
      margin-right: 14.1rem;
      width: 4.9rem;
      height: 4.9rem;
      object-fit: cover;
      vertical-align: top;
    }
    .home-CEh {
      font-weight: 400;
      color: #ffffff;
      font-family: Koulen, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 1.4rem 0.4rem 0rem;
      cursor: pointer;
      font-size: 1.9rem;
      line-height: 1.805;
      white-space: nowrap;
    }
    .rules-76m {
      cursor: pointer;
      color: #ffffff;
      font-family: Koulen, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 1.4rem 0.4rem 0rem;
      font-size: 1.9rem;
      font-weight: 400;
      line-height: 1.805;
      white-space: nowrap;
    }
    .back-Rt9 {
      margin-bottom: 0.4rem;
      cursor: pointer;
      font-size: 1.9rem;
      white-space: nowrap;
      font-weight: 400;
      line-height: 1.805;
      color: #ffffff;
      font-family: Koulen, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
}
