
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.android-large-11-Q6Z {
  width: 100%;
  height: 947px;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}
.android-large-11-Q6Z .prathmesh-kale-YCm {
  width: 20.2rem;
  height: 2.8rem;
  position: absolute;
  left: 10.6rem;
  top: 38.1rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2075;
  color: #ffffff;
  font-family: Nova Cut, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-11-Q6Z .auto-group-5ubb-39X {
  width: 18.6rem;
  height: 2.8rem;
  position: absolute;
  left: 10.8rem;
  top: 41.8rem;
  display: flex;
  align-items: center;
}
.android-large-11-Q6Z .auto-group-5ubb-39X .logo-whatsapp-png-pic-0-1-Yc5 {
  margin-right: 1.3rem;
  width: 2rem;
  height: 2.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-11-Q6Z .auto-group-5ubb-39X .item-7666280058-e9K {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2075;
  color: #ffffff;
  font-family: Nova Cut, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.android-large-11-Q6Z .prathemesh-1-MpR {
  box-sizing: border-box;
  padding: 0rem 0rem 2.1rem 5.7rem;
  width: 17.9rem;
  height: 33.6rem;
  position: absolute;
  left: 5.1rem;
  top: 16.9rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.android-large-11-Q6Z .prathemesh-1-MpR .prathemesh-4-s25 {
  margin-bottom: 9.8rem;
  width: 14.1rem;
  height: 19.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.android-large-11-Q6Z .prathemesh-1-MpR .auto-group-slwp-Q21 {
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-large-11-Q6Z .prathemesh-1-MpR .auto-group-slwp-Q21 .auto-group-qtcd-9kH {
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding: 0.2rem 0.2rem 0.4rem 0.2rem;
  width: 2.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  text-decoration-line: underline;
  color: #2682ef;
  font-family: Noto Serif Thai, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/https-wwwlinkedincom-in-prathmesh-kale-3a1270229-bg.png');
  flex-shrink: 0;
}
.android-large-11-Q6Z .prathemesh-1-MpR .auto-group-slwp-Q21 .prathmesh-kale-PPj {
  margin-bottom: 0.1rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2075;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Nova Cut, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.android-large-11-Q6Z .devloped-by-rutik-JFo {
  width: 11.9rem;
  height: 1.7rem;
  position: absolute;
  left: 22.3rem;
  top: 77.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Sarpanch, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-11-Q6Z .auto-group-npmw-91X {
  width: 33rem;
  height: 4.9rem;
  position: absolute;
  left: 1.4rem;
  top: 0.4rem;
  display: flex;
  align-items: center;
}
.android-large-11-Q6Z .auto-group-npmw-91X .whitelogo-3-rwX {
  margin-right: 14.1rem;
  width: 4.9rem;
  height: 4.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-11-Q6Z .auto-group-npmw-91X .home-CEh {
  margin: 0rem 1.4rem 0.4rem 0rem;
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.805;
  color: #ffffff;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.android-large-11-Q6Z .auto-group-npmw-91X .rules-76m {
  margin: 0rem 1.4rem 0.4rem 0rem;
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.805;
  color: #ffffff;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.android-large-11-Q6Z .auto-group-npmw-91X .back-Rt9 {
  margin-bottom: 0.4rem;
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.805;
  color: #ffffff;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
