
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.android-large-9-fKT {
  box-sizing: border-box;
  padding: 0.2rem 0rem 2.4rem 0.5rem;
  width: 100%;
  height: 947px;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.android-large-9-fKT .auto-group-vpos-Yu3 {
  margin: 0rem 1.8rem 5.3rem 0.9rem;
  width: calc(100% - 2.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-large-9-fKT .auto-group-vpos-Yu3 .whitelogo-1-TFK {
  margin-right: 19.3rem;
  width: 4.9rem;
  height: 4.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-9-fKT .auto-group-vpos-Yu3 .home-AvR {
  margin-right: 0.8rem;
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.805;
  color: #ffffff;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.android-large-9-fKT .auto-group-vpos-Yu3 .rules-JFw {
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.805;
  color: #ffffff;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.android-large-9-fKT .pratik-chavan-EQV {
  margin: 0rem 0.4rem 0.9rem 0rem;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2075;
  color: #ffffff;
  font-family: Nova Cut, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.android-large-9-fKT .pratik-2-JQM {
  margin: 0rem 0.7rem 4.6rem 0rem;
  width: 17.4rem;
  height: 19.8rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.android-large-9-fKT .prathmesh-kale-QyB {
  margin: 0rem 0.5rem 2rem 0rem;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2075;
  color: #ffffff;
  font-family: Nova Cut, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.android-large-9-fKT .prathemesh-3-7ch {
  margin: 0rem 0.6rem 5.5rem 0rem;
  width: 17.5rem;
  height: 22.9rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.android-large-9-fKT .auto-group-kilm-zgV {
  margin: 0rem 0rem 0.7rem 0.3rem;
  box-sizing: border-box;
  padding: 0.2rem 3rem 0rem 5.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.255;
  font-family: Marcellus SC, 'Source Sans Pro';
  white-space: nowrap;
  border-top: solid 0.4rem #e8e3e3;
  flex-shrink: 0;
}
.android-large-9-fKT .line-4-SoP {
  margin-right: 0.3rem;
  width: 35.2rem;
  height: 0.4rem;
  background-color: #e7d4d4;
  flex-shrink: 0;
}

.android-large-9-fKT .JOIN-EXAM-GROUP{
  font-family: Marcellus SC;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: linear-gradient(180deg, #FFF 16.67%, rgba(255, 255, 255, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}